
.map {
    height: 300px;
    width: 100%;
    border: 1px solid blue;
    position: sticky;
}

.map-container {
    border: 1px solid red;
    position: sticky;
    top: 300;
    left: 300;
}

